streamlit==1.45.1
langchain==0.3.25
langchain-core==0.3.63
langchain-community==0.3.24
langchain-huggingface==0.1.2
langchain-groq==0.3.2
langchain-classic==1.0.8
sentence-transformers==2.7.0
chromadb==0.5.23
rank-bm25==0.2.2
python-dotenv==1.0.1
pypdf==5.1.0
scikit-learn==1.5.2
transformers==4.44.2
tokenizers==0.19.1